@{
    ViewData["Title"] = "Remeasure";
}
<h1>Translate your recipe:</h1>
<div id="remeasure-main-div" class="padded-content">
        <textarea id="recipe-input" placeholder="Cooking recipe in common cooking measurements"></textarea>
        <textarea id="recipe-output" placeholder="Cooking recipe in metric"></textarea>
</div>
